.feedback {
	background-color: #333;
	color: #FFF;

	position: fixed;
	
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	height: 60px;
	z-index: 10;
	top: -60px;

	transition: top .5s ease;
}

.feedback.show {
	top: 0px;
}

.feedback.success {
	background-color: #159CEE;
}
.feedback.error {
	background-color: #FF395E;
}