/* GLOBAL STYLE RULES - For this demo, I'm not using Bootstrap */
/* You can, but I didn't want to clutter the classes in the HTML */
/* For demonstration purposes. */

html, body {
	font-family: Helvetica, "Helvetica Neue", sans-serif;
}

h1,h2,h3 {
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
}

li {
	margin-bottom: 15px;
}