#todoList {
	border: 1px solid #DDD;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.todoItem {
	display: flex;
	position: relative;
	/*padding: 20px;*/
	/*background-color: silver;*/
	border-bottom: 1px solid #DDD;
}
.todoItem:last-child {
	border-bottom: none;
}
.todoItem {
}

.todoItem > div {

}

.content {
	display: flex;
	width: 80%;
}
	.content > div {
		width: 50%;
		padding: 20px;
	}
	.todoContent {
		background-color: #CCC;
	}
	.complete {
		text-decoration: line-through;
	}
	.comments {
		background-color: #F3F3F3;
		text-align: right;
	}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 20%;
}
.controls i {
	cursor: pointer;
	padding: 0 15px;
}
.controls i:hover {
	color: deeppink;
}

.comment {
	margin-bottom: 5px;
}
.commentEditor {
	margin-top: 20px;
}
.commentEditor {
	/*margin-top: 20px;*/
}