<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Relationships</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>A Little Low-Quality Library</h1>
				<div id="books">
					<!-- Books go here -->
				</div>
			</div>
		</div>
	</div>

	<!-- TEMPLATE -->
	<script id="bookTMP" type="text/template">
		<h3><%= title %></h3>
		<p><%= author %> (<%= published %>)</p>
		<p><strong class="count">0</strong> Likes | <span class="users"></span></p>
		<div class="like btn btn-success">Like</div>
		<div class="unlike btn btn-danger hidden">Unlike</div>
	</script>

	<!-- Import main libraries -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
	<!-- Including Underscore, which Parse doesn't seem to "global" -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore.js"></script>

	<!-- And our own custom scripts -->

	<!-- Models -->
	<script type="text/javascript" src="js/models/Book.js"></script>
	<!-- Views -->
	<script type="text/javascript" src="js/views/BookView.js"></script>

	<!-- App -->
	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>
