<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Relationships Two</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

	<div id="app" class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>Todo List</h1>	
				</div>
				
				<!-- TODO EDITOR -->
				<form>
					<div class="form-group">
						<label for="todoInput">What do you want to do?</label>
						<input type="text" class="form-control" id="todoInput" placeholder="Enter Todo">
					</div>
					<div class="form-group">
						<button id="addTodoItem" class="btn btn-primary" type="button">Add Todo</button>
					</div>
				</form>


				<div class="page-header">
					<h3>Class Todo List</h3>
				</div>

				<!-- TODO LIST -->
				<ul id="todoList">
				</ul>

			</div>
		</div>
	</div>


	<!-- TEMPLATES -->
	<script id="todoItemTMP" type="text/html">
		<div class="content">
			<div class="todoContent"><strong><%= author %></strong> | <%= content %></div>
			<div class="comments">
				<div class="commentList">
					<!-- Comments -->
				</div>
				<!-- COMMENT EDITOR -->
				<div class="input-group commentEditor hidden">
					<input type="text" class="form-control commentInput" placeholder="Add Comment">
					<span class="input-group-btn">
						<button class="btn btn-default makeComment" type="button"><i class="fa fa-lg fa-pencil"></i></button>
					</span>
				</div>
			</div>
		</div>
		
		<div class="controls">
			<i class="fa fa-2x fa-comment-o"></i>
			<i class="fa fa-2x fa-check"></i>
			<i class="fa fa-2x fa-trash"></i>
		</div>
	</script>

	<script id="commentTMP" type="text/html">
			<%= content %> | <strong><%= author %></strong>
	</script>


	<!-- Import main libraries -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
	<!-- Including Underscore, which Parse doesn't seem to "global" -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore.js"></script>

	<!-- And our own custom scripts -->
	<script type="text/javascript" src="js/models/Models.js"></script>
	<script type="text/javascript" src="js/views/AppView.js"></script>
	<script type="text/javascript" src="js/views/CommentView.js"></script>
	<script type="text/javascript" src="js/views/TodoView.js"></script>


	<!-- App -->
	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>
