<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Views</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="makeAPet">
					<div class="page-header">
						<h1>Using Simple Views</h1>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<form>
								<div class="form-group">
									<label for="petType">Enter Pet Type</label>
									<input id="petType" class="form-control" type="text" placeholder="Type of pet. E.g. Dog">
								</div>
								<div class="form-group">
									<label for="petName">Enter Pet Name</label>
									<input id="petName" class="form-control" type="text" placeholder="Name your pet. E.g. Fido">
								</div>
								<div class="form-group">
									<!-- Pushing this creates a Parse.Object -->
									<button id="createPet" class="btn btn-success" type="button">CREATE</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="page-header">
					<h3>New Pets</h3>
				</div>
				<div id="petViewer">
					<!-- Pet Views Go HERE -->
				</div>
			</div>


			<div class="col-md-12">
				<div class="page-header">
					<h3>Previous Pets</h3>
				</div>
				<div id="oldPetViewer">
					<!-- All previous pets are loaded here -->
				</div>
			</div>

		</div>
	</div>



	
	<!-- This is the html template that is used to create my views -->
	<!--
		You'll notice our #petTEMPLATE has some special tags that look like <%= %>
		These are the templated parts that will be replaced with values depending on
		what data is passed in. For example, if I pass in {typeOfPet:"xxx", nameOfPet:"zzz"}
		then this template will end up as...

		This pet is a xxx.
		Pet: Hi! My name is zzz.

		So how do we get these data pieces in? See views.js
	-->
	<script id="petTEMPLATE" type="text/ejs">
		<span>This pet is a <em><%= typeOfPet %></em>.</span><br>
		<span>Pet: Hi! My name is <strong><%= nameOfPet %></strong>!</span>
		<button class="deletePet btn btn-danger pull-right">Delete</button>
	</script>



	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>
	<script src="https://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
	<!-- Two files, one regarding creating models, other regarding creating views -->
	<script src="view.js"></script>



	<script src="oldPets.js"></script>
</body>

</html>
