#messageBoard {
	padding: 50px;
	border: 1px solid #DDD;
}

#messageBoard:empty:before {
	color: silver;
	content: 'NO MESSAGES';
}

.tag {
	display: inline-block;
	width: 100px;
}

.high {
	color: red;
}